/* // `xs` returns only a ruleset and no media query 320px*/
@media (max-width: 320px) {
  .header_top_icon {
    padding: 0px;
  }
  .header_top_icon {
    align-items: center;
    gap: 10px;
  }

  .header_top_icon ul li a {
    margin-right: 6px;
  }
  .header_top_icon p {
    font-size: 10px;
    line-height: 10px;
  }
  .header_top_icon ul {
    margin-left: 0px;
  }

  .header_middle {
    display: none;
  }

  .navbar-toggler {
    color: #fff !important;
    border: 1px solid #fff !important;
  }
  .carousel-indicators {
    display: none;
  }
  .counter {
    padding: 30px 0px;
  }

  .founder_part {
    padding: 30px 0px;
  }

  .form_part {
    width: 100% !important;
  }

  .productListItem .buttonGroup {
    flex-direction: column;
  }
}

/* // `sm` returns only a ruleset and no media query 576px */
@media (min-width: 320.1px) and (max-width: 576px) {
  .header_top_icon {
    padding: 0px;
  }

  .carousel-indicators {
    display: none;
  }
  .header_top_icon {
    align-items: center;
    gap: 10px;
  }

  .header_top_icon ul li a {
    margin-right: 6px;
  }
  .header_top_icon p {
    font-size: 10px;
    line-height: 10px;
  }
  .header_top_icon ul {
    margin-left: 0px;
  }

  .header_middle {
    display: none;
  }

  .navbar-toggler {
    color: #fff !important;
    border: 1px solid #fff !important;
  }

  .counter {
    padding: 30px 0px;
  }

  .founder_part {
    padding: 30px 0px;
  }

  .form_part {
    width: 100% !important;
  }
}

/* // `sm` applies to x-small devices (portrait phones, less than 768px) */
@media (min-width: 576.1px) and (max-width: 768px) {
  .header_middle {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }

  .collapse .navbar-nav .nav-item .nav-link {
    margin-right: 8px;
  }

  .carousel-caption {
    margin-bottom: 0px;
  }

  .carousel-caption h3.main-head {
    padding-bottom: 10px;
  }

  .carousel-caption p {
    padding-bottom: 10px;
    line-height: 1;
  }

  .carousel-caption a {
    padding: 5px 15px;
    margin-top: 0px;
  }

  .form_part {
    width: 100% !important;
  }
  .footer_logo_part {
    padding: 0px;
  }
  .contact_part {
    padding: 0px;
  }

  .link_heading {
    padding: 0px;
  }
}

/* // `md` applies to small devices (landscape phones, less than 992px) */
@media (min-width: 768.1px) and (max-width: 992px) {
}

/* // `lg` applies to medium devices (tablets, less than 1200px) */
@media (min-width: 992.1px) and (max-width: 1200px) {
}

/* // `xl` applies to large devices (desktops, less than 1400px) */
@media (min-width: 1200.1px) and (max-width: 1400px) {
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1401px) {
}
